/* input[type=text]:focus{
    border: 3px solid #555;
} */

body {
    text-align: center;
    margin: 20%;
}
input {
   line-height: 100%;
   border-radius: 5px;
  }
button{
    width: 30%;
}
a[href]{
    text-decoration: none;
}
