/* pokemon.component.css */
.pokemon-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    transition: all 0.5s ease;
  }
  
  .pokemon-container.centered {
    justify-content: center;
  }
  
  .pokemon-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .pokemon-card.selected {
    transform: scale(1.2);
    pointer-events: none; /* Make the selected card non-clickable */
  }
  
  /* Responsive design for mobile devices */
  @media (max-width: 600px) {
    .pokemon-container {
      flex-direction: column;
    }
  }
  