.card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .color-bar {
    height: 100px; /* Adjust height as necessary */
    transition: width 0.3s ease;
  }
  